@use "sass:map";
@use "../../globals";

.main-layout {
  height: 100vh;
  max-height: 100vh;
  font-family: globals.$firacode, monospace;

  background: map.get(globals.$colors, "back");

  > .side-tree {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }

  > .content {
    --width: 300px;
    margin-left: calc(var(--width) + 2ch + 2px);
  }

  > .bottom-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (min-width: globals.$breakpoint-md) and (max-width: globals.$breakpoint-lg) {
    > .content {
      --width: 250px;
    }

    > .side-tree {
      width: 250px;
    }
  }

  @media (max-width: globals.$breakpoint-md) {
    > .content {
      --width: 0px;
      margin-left: 0px;
      padding: 1ch;
    }

    > .side-tree {
      display: none;

      &-btn {
        display: block;
      }
    }
  }
}
