@use "sass:map";
@use "../../globals";

.main-layout {
  height: 100vh;
  max-height: 100vh;
  font-family: globals.$firacode, monospace;

  background: map.get(globals.$colors, "back");

  display: grid;
  grid-template-columns: auto 1fr;

  > .content {

  }

  > .bottom-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
