$firacode: "FiraCode";

$text-color: #cbd5e7; //#abb2bf;

$colors: (
  "back": #1e222a,
  //#302150,
  "back-side": #1b1f27,
);

$mode-color: (
  "normal": #81a1c1,
);

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
$breakpoint: (
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl,
  "2xl": $breakpoint-2xl,
);
